@font-face {
  font-family: Switzer;
  src: url(./Fonts/Switzer-Regular.ttf)
}
@font-face {
  font-family: Switzer-Semibold;
  src: url(./Fonts/Switzer-Semibold.ttf)
}

@font-face {
  font-family: General-Regular;
  src: url(./Fonts/GeneralSans-Regular.ttf)
}

@font-face {
  font-family: General-Bold;
  src: url(./Fonts/GeneralSans-Bold.ttf);
}

:root{
  --color1: #000E2E;
  --color2: #262626;
  --color3: #255C99;
  --color4: #F06543;
  --color5: #E8E9EB;

  --font-default: General-Regular;
  --font-bold: General-Bold;

}

.App{
  height: fit-content;
  background-color: var(--color5);
  font-family: var(--font-default);
}