@font-face {
  font-family: Switzer;
  src: url(./Fonts/Switzer-Regular.ttf)
}
@font-face {
  font-family: Switzer-Semibold;
  src: url(./Fonts/Switzer-Semibold.ttf)
}

:root{
  --color1: #000E2E;
  --color2: #64B6AC;
  --color3: #C0FDFB;
  --color4: #090C08;
  --color5: #F55D3E;
  --color6: #FF0022;

  --font-default: Switzer;
  --font-semibold: Switzer-Semibold;

}

.App{
  height: 100vh;
  background-color: #fff;
  font-family: var(--font-default);
}