
/*Pc e Notebook*/
@media only screen and (min-width: 1024px){
    header{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        background-color: var(--color1);
        height: fit-content;
        color: var(--color5);
    }
    .logo-vsb{
        display: flex;
        align-items: center;
        margin-left: 2%;
        height: 100px;
        width: 275px;
    }
    .nav-header{
        margin-left: 80px;
        width: 100%;
    }
    .nav-header > a{
        text-decoration: none;
        color: var(--color5);
        margin-left: 3%;
        position: relative;
        overflow: hidden;
    }

    .nav-header > a::before{
        content: "   ";
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        width: 0%;
        transition: 0.5s ease-in-out;
    }

    .nav-header > a:hover::before{
        width: 105%;
    }

}

/*Celulares*/
@media (min-width: 312px) and (max-width: 415px){

    header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: var(--color1);
        height: fit-content;
        color: #fff;
        padding-bottom: 10px;
    }

    .logo-vsb{
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .nav-header{
        width: 100%;
        display: flex;
        margin-top: 3%;
        justify-content: center;
    }

    .nav-header > a{
        text-decoration: none;
        color: #fff;
        margin-left: 3%;
        position: relative;
        overflow: hidden;
    }

    .nav-header > a::before{
        content: "   ";
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        width: 0%;
        transition: 0.5s ease-in-out;
    }

    .nav-header > a:hover::before{
        width: 105%;
    }

}

/*Tablets*/
@media (min-width: 420px )and (max-width: 1000px){

    header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: var(--color1);
        height: fit-content;
        color: #fff;
        padding-bottom: 10px;
    }

    .logo-vsb{
        display: flex;
        justify-content: center;
        margin-top: 3%;
        height: 140px;
        width: 400px;
    }


    .nav-header{
        margin-top: 3%;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
    }

    .nav-header > a{
        text-decoration: none;
        color: #fff;
        margin-left: 3%;
        position: relative;
        overflow: hidden;
    }

    .nav-header > a::before{
        content: "   ";
        position: absolute;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        width: 0%;
        transition: 0.5s ease-in-out;
    }

    .nav-header > a:hover::before{
        width: 105%;
    }

}