
/*PC e Notebook*/
@media screen and (min-width: 1024px) {

    main{
        width: 100%;
    }

}

/*Celular*/
@media screen and (min-width: 312px) and (max-width: 415px) {

    main{
        width: 100%;
    }

}

/*Tablets*/
@media (min-width: 420px )and (max-width: 1000px){

    main{
        width: 100%;
        height: 100vh;
        font-size: 1.8rem;
    }

}